.map-container {
    width: 100%;
    height: 100vh;
    /* Or whatever height you need */
    z-index: 999;
}
html,
      body {
        height: 100%;
        margin: 0;
      }

      #map {
        height: 100vh;
        width: 100%;
      }

      .map-overlay {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .map-overlay {
        border: none;
        padding: 0;
        margin: 0;
      }

      .map-overlay input[type="radio"],
      .map-overlay input[type="checkbox"] {
        margin-right: 5px;
      }

      .map-overlay label {
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
      }