.map-container {
    width: 100%;
    height: 100vh;
    /* Or whatever height you need */
    z-index: 999;
}

.map-view-wrapper {
    position: relative;
    /* Needed for absolute positioning of control */
    width: 100%;
    height: 100vh;
}

.layer-control {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
    /* Ensure it's above the map */
}

.layer-control label {
    margin-right: 5px;
}

.layer-control select {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}